.form {
    border: #999999 solid 1px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: white;
    user-select: none;
}

.numRiga {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
}

.elemento {
    border: #999999 solid 1px;
    background-color: White;
}

.registro {
    font-family: Arial;
    font-size: 10px;
}

.testo {
    font-family: Arial;
    font-size: 10px;
    text-decoration: none;
    color: #666666;
}

.testoGrande {
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

.bRight {
    border-right: 1px solid black;
}

.bLeft {
    border-left: 1px solid black;
}

.bTop {
    border-top: 1px solid black;
}

.bBot {
    border-bottom: 1px solid black;
}

.edInstrTd {
    min-width: 80px;
}

.edMenuTd1 {
	min-width: 230px;
}

.edMenuTd2{
	min-width: 130px;
}

.edMenuTd3 {
	min-width: 310px;
}

.edMenuTd4 {
	min-width: 130px;
}

.pipeTd {
    border: 1px solid #666666;
    min-width: 20px;
    text-align: center;
}

a.link {
    font-family: Arial;
    font-size: 10px;
    text-decoration: none;
    color: white;
    user-select: none;
}

a.link:hover {
    color: red;
}

a.link2 {
    font-family: Arial;
    font-size: 10px;
    text-decoration: none;
    color: #666666;
    user-select: none;
}

a.link2:hover {
    color: red;
}

a.link3 {
    font-family: Arial;
    font-size: 10px;
    text-decoration: none;
    color: black;
    user-select: none;
}

a.link3:hover {
    color: red;
}

a.link4 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
    text-decoration: none;
    user-select: none;
}

a.link4:hover {
    color: red;
}

a.link4disabled {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #aaa;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
    user-select: none;
}

tr.top td {
    border-top: thin solid black;
}

tr.bottom td {
    border-bottom: thin solid black;
}

tr.row td:first-child {
    border-left: thin solid black;
}

tr.row td:last-child {
    border-right: thin solid black;
}

tr.alternating:nth-child(even){
    background-color: white;
}

tr.alternating:nth-child(odd){
    background-color: #f0f0f0;
}

input.form {
    cursor: pointer;
}

input.form:hover {
    color: red;
}

textarea:focus {
    outline: none !important;
}

#schemaBody {
    background-color: #f0f0f0;
}

#counter {
    position: fixed;
    width: 99.5%;
    margin-left: 1px;
    margin-top: -175px;
    background: white;
    padding: 2px;
    border: 1px solid;
}

#destraTop {
    margin-top: 175px;
}

#popupToggleBox {
    position: absolute;
    top: 540px;
    background-color: wheat;
    border: 5px double #f7b217;
}

#asmTxt {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}